﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
 
/Genspil.csproj
.vs/**
/bin/**
/obj/**